._header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    padding: 22px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 85px;
        transition: filter .4s;
    }

    .gnb {
        color: #fff;
        display: flex;
        transition: color .4s;
        p {
            font-size: 20px;
            letter-spacing: -0.045em;
            font-family: 'Outfit';
        }
        .menu {
            position: relative;
            width: 35px;
            height: 18px;
            margin-left: 25px;
            cursor: pointer;
            div {
                height: 3px;
                width: 100%;
                background: #fff;
                position: absolute;
                transition: background,width .4s;
                &:nth-of-type(1){
                    top: 0;
                }
                &:nth-of-type(2){
                    top: 100%;
                    right: 0;
                    transform: translateY(-100%);
                }
            }
        }
    }


    &.black{

        .logo {
            filter: invert(1);
        }

        .gnb {
            color: #000;
            .menu {
                div {
                    background: #000;

                    &:nth-of-type(2) {
                        width: calc(22/35*100%);
                    }

                }
            }
        }

    }

    @media screen and (min-width : 821px) {
        
        .gnb {
            display: none;
        }

    }

    @media screen and (max-width : 820px) {
        
        padding: 34px calc(38/820*100%) 21px calc(21/820*100%);
        border-bottom: 1px solid #dbdbdb;

        .logo {
            width: 94px;
        }

        .gnb {
            display: flex;
        }

    }

    @media screen and (max-width : 480px) {

        padding: 18px 4.6341463415% 18px 2.5609756098%;

        .logo {
            width: 54px;
        }

        .gnb {
            p {
                font-size: 14px;
            }
            .menu {
                margin-left: 15px;
                width: 25px;
                height: 14px;
            }
        }

    }

}

.over-fix {

    position: fixed;
    left: 50%;
    top: 0;
    padding: calc(13/18*1em) calc(25/18*1em);
    background: #00ff42;
    border-radius: 1000px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: -0.045em;
    font-size: 18px;
    pointer-events: none;
    opacity: 0;
    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 5.5px;
        height: 5.5px;
        margin-right: 14px;
        background: #00ff42;
        border-radius: 1000px;
    }

}

.fix_nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(106px,-50%) rotate(-90deg);
    display: flex;
    z-index: 999;
    a {
        height: 33px;
        width: 122px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 17px;
        font-family: 'Outfit';
        letter-spacing: -0.045em;
        transition: background .4s;

        i {
            font-size: calc(18/17*1em);
        }

        &:first-child {
            
            &:hover {
                background: #24ff00;
            }

        }
        &:last-child {
            &:hover {
                background: #FEE500;
            }
        }

    }

    @media screen and (max-width : 820px) {
        display: none;
    }

}

.list-view {
    background: #fff;
    padding-top: 98px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    transform: translateY(-150%);
    transition: transform .4s;

    &.active {
        transform: translateY(0);
    }

    .scroll {
        display: flex;
        font-size: 18px;
        letter-spacing: -0.045em;
        color: #ffffff;
        position: absolute;
        top: 100%;
        right: calc(55*100/820*1vw);
        margin-top: calc(45*100/820*1vw);
        font-family: 'Outfit';
        display: none;

        i {
            animation: i 2s infinite alternate ease-in;
        }

        @keyframes i {
            0% {
                transform: translateY(-2.5px);
            }
            100% {
                transform: translateY(2.5px);
            }
        }


    }

    .over {
        // max-height: 55vh;
        padding-bottom: 45px;
        box-sizing: border-box;
        overflow-y: auto;
        .small {
            padding: calc(34/20*1em) calc(43/820*100%) calc(40/20*1em);
            font-family: 'Outfit';
            font-size: 20px;
            letter-spacing: -0.045em;
            line-height: calc(23/20);
            word-break: keep-all;
        }
    
        .list {
            li {
                + li {
                    margin-top: 40px;
                }
    
                .img {
                    position: relative;
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: '';
                        display: block;
                        padding-bottom: calc(440/869*100%);
                    }
                }
    
                .tbx {
                    font-size: 20px;
                    letter-spacing: -0.045em;
                    font-weight: 500;
                    padding: 0 calc(43/820*100%);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 11px;
                    a {
                        background: #000000;
                        color: #fff;
                        padding: calc(10/20*1em) calc(30/20*1em);
                    }
                }
    
            }
        }

    }

    @media screen and (max-width : 480px) {

        padding-top: 76.31px;

        .scroll { 
            font-size: 14px;
            margin-top: 25px;
            right: 5%;
        }
        
        .over {
            .small {
                font-size: 16px;
            }

            .list {
                li {
                    .tbx {
                        font-size: 16px;
                    }
                }
            }

        }

    }

}

._main {

    position: relative;

    @media screen and (max-width:820px) {
        overflow-x: hidden;
    }

    .intro {
        height: 100vh;
        width: 100%;
        position: relative;
        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.pc {
                display: block;
            }
            &.mob {
                display: none;
            }

        }

        .lang {
            font-family: 'Outfit';
            font-weight: 400;
            position: absolute;
            right: calc(472/1920*100%);
            bottom: calc(188/979*100%);
            font-size: 18px;
            letter-spacing: -0.045em;
            line-height: calc(21/18);
            color: #24ff00;
        }

        .kr {
            left: calc(668/1920*100%);
        }

        .en {
            right: calc(668/1920*100%);
        }

        .select {
            mix-blend-mode: difference;
            position: absolute;
            font-weight: bold;
            letter-spacing: -0.025em;
            color: #ffffff;
            font-size: 60px;
            padding-bottom: 11px;
            top: calc(440/979*100%);
            text-transform: uppercase;
            font-family: 'Perpetua Titling MT';
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                background: #fff;
                transform: scaleX(0);
                transform-origin: 100% 0;
                transition: transform .5s;
            }

            &:hover {
                &::after {
                    transform: scaleX(100%);
                    transform-origin: 0 0;
                }
            }

        }

        @media screen and (max-width : 1024px) {
            .kr {
                left: 24%;
            }
            .en {
                right: 24%;
            }

            .lang {
                right: 14.583333%;
            }

            .select {
                font-size: 48px;
            }
        }

        @media screen and (max-width : 820px) {

            video {
                &.pc {
                    display: none;
                }
                &.mob {
                    display: block;
                }
            }

            .lang {
                display: none;
            }
            
            .sel-box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                font-size: calc(127*100/820*1vw);
                gap: calc(175/127*1em);
                mix-blend-mode: difference;
            }

            .select {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                text-align: center;
                font-size: inherit;
            }

        }

        @media screen and (max-width : 480px) {
            .sel-box {
                font-size: 10.487805vw;
            }
        }

    }

    .desktop {

        .fade-in {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 100;
            opacity: 0;
            pointer-events: none;
        }

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            z-index: -1;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                z-index: 5;
    
                &.img02 {
                    opacity: 1;
                    z-index: 2;
                }
    
            }    
        }
    
        .section01 {
            
            position: relative;
            box-sizing: border-box;
            height: 100vh;
            z-index: 3;
    
            .im-box {
                position: absolute;
                top: calc(155/980*100%);
                left: calc(188/1920*100%);
                .bb {
                    width: 194px;
                    height: 272px;
                    position: relative;
                    overflow: hidden;
                    
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        &:nth-of-type(2) {
                            z-index: 1;
                            opacity: 0;
                        }

                    }

                    /* .back {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        z-index: 2;
                        transform-origin: right;
                        &.back2 {
                            background: #fff;
                            z-index: 1;
                        }
                    } */

                }
                .tbx {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 15px;
                    color: #00ff42;
                    font-size: 17px;
                    letter-spacing: -0.045em;
                    font-family: 'Outfit';
                    font-weight: 400;
    
                    .line {
                        margin-left: 13px;
                        position: relative;
                        .bar {
                            width: 20px;
                            height: 100%;
                            transition: width .4s;
                            height: 2px;
                            position: relative;
                            background: #00ff42;
                        }
                        .arr {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 8px;
                            height: 15px;
                            z-index: 2;
                            background: url('/asset/image/main/green-arr.svg') no-repeat center/cover;
                        }
                    }
    
                }

                &:hover {
                    .tbx {
                        .line {
                            .bar {
                                width: 71px;
                            }
                        }
                    }
                }

            }
    
            .scroll-box {
                position: absolute;
                right: calc(54/1920*100%);
                top: calc(162/980*100%);
                margin-top: 7px;
                display: flex;
                align-items: center;
                gap: 18px;
                p {
                    font-size: 17px;
                    font-family: 'Outfit';
                    letter-spacing: -0.045em;
                    color: #00ff42;
                }
                .scroll {
                    width: 21.04px;
                    height: 38.26px;
                    border-radius: 100px;
                    box-sizing: border-box;
                    border: 1px solid #30ff00;
                    position: relative;
                    .cir {
                        width: 4px;
                        height: 4px;
                        background: #2aff00;
                        position: absolute;
                        border-radius: 1000px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0%;
                        animation: scroll 1s infinite alternate ease-in-out;

                        @keyframes scroll {
                            0% {
                                top: 30%;
                            }
                            100% {
                                top: 60%;
                            }
                        }

                    }
                }
            }

            .inline {
    
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                position: absolute;
                z-index: 2;
                mix-blend-mode: exclusion;

                .bt {
                    font-family: 'Perpetua Titling MT';
                    color: #ffffff;
                    font-weight: bold;
                    font-size: calc(373.16*100/1920*1vw);
                    letter-spacing: -0.025em;
                }
    
                .fade {
                    text-align: left;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    right: calc(165/1472*100%);
                    color: #00ff42;
                    mix-blend-mode: difference;
                    line-height: calc(23/17);
                    font-size: 17px;
                    font-family: 'Outfit';
                    letter-spacing: -0.045em;
                    nav {
                        display: flex;
                        gap: 102px;
                        margin-top: 10px;
                    }
                }
    
            }

    
            @media screen and (max-width : 1280px) {
                
                .im-box {
                    left: 4.5%;
                    
                    .bb {
                        width: 154px;
                        height: 232px;
                    }

                    &:hover {
                        .tbx {
                            .line {
                                .bar{
                                    width: 51px;
                                }
                            }
                        }
                    }

                }
    
                .inline {
                    .fade {
                        font-size: 15px;
                        transform: translateY(-25%);
                        right: 2.5%;
                    }
                }
    
            }
    
        }
            
        .section02 {
            height: 100vh;
            position: relative;
            z-index: 3;
    
            .col {
                position: absolute;
                cursor: none;
                
                p {
                    text-align: left;
                    font-size: 20px;
                    letter-spacing: -0.045em;
                    font-weight: 500;
                    font-family: 'Outfit';
                    color: #fff;
                    margin-left: 5px;
                }
    
                .video {
                    /* width: 377.99px;
                    height: 213px;
                    background: #fff; */
                    width: calc(170*100/1920*1vw);
                    height: calc(118*100/1920*1vw);
                    border-radius: 18px;
                    margin-top: 12px;
                    position: relative;
                    overflow: hidden;
    
                    iframe,video {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                }
    
                &:nth-of-type(1) {
                    left: calc(173/1920*100%);
                    top: calc(220/980*100%);
                }
    
                &:nth-of-type(2) {
                    right: calc(1247/1920*100%);
                    top: calc(480/980*100%);
                }
    
                &:nth-of-type(3) {
                    left: calc(150/1920*100%);
                    top: calc(608/980*100%);
                }
    
                &:nth-of-type(4) {
                    left: calc(628/1920*100%);
                    // top: calc(754/980*100%);
                    top: 72.93%;
                }
    
                &:nth-of-type(5) {
                    left: calc(1388/1920*100%);
                    top: calc(128/980*100%);
                }
    
                &:nth-of-type(6) {
                    // left: calc(1527/1920*100%);
                    left: 76.53%;
                    top: calc(388/980*100%);
                }
    
                &:nth-of-type(7) {
                    right: calc(450/1920*100%);
                    top: calc(660/980*100%);
                }
    
            }
    

            @media screen and (max-width : 1280px) {
                
                .col {

                    .video {
                        width: calc(170*100/1480*1vw);
                        height: calc(118*100/1480*1vw);
                        border-radius: 10px;
                        margin-top: 12px;
                        position: relative;
                        overflow: hidden;
                    }

                    p {
                        font-size: 16px;
                    }                    
                    .video {
                        border-radius: 10px;
                    }
                    &:nth-of-type(1) {
                        left: 7.010417%;
                    }
                    &:nth-of-type(2) {
                        right: 67.94%;
                    }
                    &:nth-of-type(3) {
                        left: 4.010417%;
                    }
                    &:nth-of-type(4) {
                        left: 29%;
                    }
                    &:nth-of-type(5) {
                        left: 78%;
                    }
                    &:nth-of-type(6) {
                        left: 74%;
                        top: 50%;
                    }
                    &:nth-of-type(7) {
                        right: 24%;
                        top: 77%;
                    }
                }

            }

        }    


        @media screen and (min-width : 821px) {
            display: block;
        }

        @media screen and (max-width : 820px) {
            display: none;
        }

    }

    .mobile {

        overflow: hidden;

        @media screen and (min-width : 821px) {
            display: none;
        }

        @media screen and (max-width : 820px) {
            display: block;
        }

        .background-image {

            height: 100vh; /* 혹시나 Custom Property 지원 안하는 브라우저를 위한 복귀점(Fallback) */
            height: calc(var(--vh, 1vh) * 100);
            position: relative;
            box-sizing: border-box;
            pointer-events: none;

            .center {
                opacity: 1;
                z-index: 1;
            }

            img {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                object-position: bottom;
            }

        }

        .swiper-box {
            position: absolute;
            top: 98px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            z-index: 4;
            text-align: right;
            // width: 110%;
        }

        .swiper {
            overflow: visible;
            min-width: 0;

            .swiper-slide {
                overflow: visible;
            }

            .swiper-slide-active {

                .imgbox {
                    opacity: 1;
                    .img {
                        &::before {
                            opacity: 0;
                        }
                    }
                }
                
                .flex {
                    pointer-events: all;
                    transform: scale(1);
                    button {
                        opacity: 1;
                        visibility: visible;
                    }
                    p {
                       opacity: 1;
                    }
                }

            }

        }

        .imgbox {
            position: static;
            top: 0;
            // left: 50%;
            // transform: translate(-50%,-50%);
            // transition: width .4s;
            width: 100%;
            color: #fff;

            .img {
                width: 100%;
                margin: 0 auto;
                border-radius: 31px;
                overflow: hidden;
                position: relative;

                img,video {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.74);
                    z-index: 1;
                    transition: opacity .4s;
                }

                &::after {
                    content: '';
                    display: block;
                    padding-bottom: calc(303.59/437.53*100%);
                }

            }

            .flex {
                position: relative;
                // top: 100%;
                // left: 50%;
                // transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(28*100/820*1vw);
                letter-spacing: -0.045em;
                gap: calc(15/32*1em);
                margin-top: 1em;
                white-space: nowrap;
                transform: scale(0.7);
                pointer-events: none;
                z-index: 10;

                /* button {
                    all: unset;
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                    font-size: 1.4em;
                    pointer-events: all;
                    i {
                        vertical-align: middle;
                    }
                } */

                div {
                    width: 8/28*1em;
                    height: 8/28*1em;
                    border-radius: 1000px;
                    background: #fff;
                    flex: 0 0 auto;
                }
                
                p {
                    font-family: 'Outfit';
                    text-transform: uppercase;
                    font-weight: 600;
                    opacity: 0.29;
                    // transition: all .4s;
                }
            }

        }

        .scroll {
            text-align: center;
            color: #18ff00;
            font-family: 'Outfit';
            font-size: calc(20*100/820*1vw);
            letter-spacing: -0.045em;
            display: inline-block;
            margin-top: calc(145*100/820*1vw);
            margin-right: calc(80*100/820*1vw);
            .bar {
                width: 65/20*1em;
                height: 30.99/20*1em;
                border: 1px solid #18ff00;
                border-radius: 1000px;
                position: relative;

                .cir {
                    width: 6/20*1em;
                    height: 6/20*1em;
                    border-radius: 1000px;
                    position: absolute;
                    right: 13/65*100%;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #18ff00;
                }

            }

            p {
                margin-top: 17/20*1em;
                text-transform: uppercase;
            }

        }


        @media screen and (max-width:480px) {
            
            .imgbox {

                .img {
                    border-radius: 10px;
                }

            }

        }


        .m_nav {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: calc(72/28*1em) calc(51/820*100%) calc(72/28*1em) calc(53/820*100%);
            box-sizing: border-box;
            gap: calc(23/32*1em);
            display: flex;
            flex-direction: column;
            // font-size: calc(32*100/820*1vw);
            font-size: calc(24*100/820*1vw);
            z-index: 5;

            a {
                height: calc(92.99/32*1em);
                width: 100%;
                border: 1px solid #fff;
                display: flex;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                font-family: 'Outfit';
                letter-spacing: -0.045em;
                color: #fff;
                gap: calc(22/32*1em);
                cursor: pointer;
                transition: .4s;
                transition-property: background,border,color;

                &:nth-of-type(1) {
                    &:hover {
                        background: #FEE500;
                        color: #000;
                        border-color: #FEE500;
                    }
                }

                &:nth-of-type(2) {
                    &:hover {
                        background: #18ff00;
                        color: #000;
                        border-color: #18ff00;
                    }
                }
                
            }


            @media screen and (max-width : 480px) {
                
                font-size: 16px;

            }
            
        }


        /* 
        
            .overflow {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            z-index: 3;
        }

        .circle-slide {

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1329px;

            .slidebox {
                width: 100%;
                // border: 4px solid #fff;
                border-radius: 10000%;
                position: relative;
                color: #fff;
                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }

                .slide {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // border: 1px solid #acf;
                    border-radius: 10000%;
                    pointer-events: none;

                    &.center {

                        .imgbox {
                            opacity: 1;
                            width: 22.5%;
                            .img {
                                &::before {
                                    opacity: 0;
                                }
                            }
                        }
                        
                        .flex {
                            pointer-events: all;
                            font-size: 32px;
                            button {
                                opacity: 1;
                                visibility: visible;
                            }
                            p {
                               opacity: 1;
                            }
                        }
                        
                    }

                }

            }


            @media screen and (max-width : 480px) {
                
                width: 950px;

                .imgbox {
                    .img {
                        border-radius: 16px;
                    }
                    .flex {
                        font-size: 16px;
                    }
                }

                // .slidebox .slide{

                //     .imgbox {
                //         width: 17.5%;
                //         .img {
                //             border-radius: 16px;
                //         }
                //         .flex {
                //             font-size: 16px;
                //         }
                //     }

                //     &.center {
                //         .imgbox {
                //             width: 20%;
                //         }
                //         .flex {
                //             font-size: 20px;
                //             button {
                //                 font-size: 20px;
                //             }
                //             gap: 10px;
                //         }
                //     }

                // }

            }

        }

        */
        
    }

}